{% block main_content %}
{% if file == True %}
    <form action="/upload_csv/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        Select image to upload:<br>
        <input type="file" name="csv_file" id="csv_file"><br>
        <input type="submit" value="Upload CSV" name="submit"><br>
    </form>

{% else %}
    <form action="/uname_send/" method="post">
        {% csrf_token %}
        <label for="uname">Username</label>
        <input type="text" id="uname" name="uname"><br><br>
        <input type="submit" value="Submit">
    </form>
{% endif %}
{% endblock %}